$break-small: 320px;
$break-large: 1200px;

@media(max-width: 600px) {
    .mapContainer {
        height: 350px;
        margin-top: 70px;
    }

    .notificationPanel {
        width: 320px !important;
    }

    .map {
        margin-top: 10px;
    }

    .navHeading {
        display: none;
    }

    .apiInfo {
        padding-top: 0px;
        margin: 60px 37px 0px !important;
    }

    .menuTab {
        background: rgba(3, 4, 5, 0.5);
        color: rgba(255, 246, 235, 0.959);
        padding: 12px 0px 2px 8px !important;
        margin-top: 7px;
        border-top: 1px solid rgba(161, 200, 231, 0.151);
        border-left: 1px solid rgba(97, 115, 129, 0.151);
        border-right: 1px solid rgba(97, 115, 129, 0.151);
        box-sizing: content-box;
        font-weight: 100;
        font-size: 12px;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: none;
        -webkit-box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        margin-right: 5px;
        transition: all 0.2s;
        user-select: none;
    }

    .borderTopSpot {
        border-top: 1px solid #f3353a;
        background-image: linear-gradient(rgba(243, 53, 58, 0.1), rgba(0, 0, 0, 0));
    }

    .navBar {
        position: absolute;
        z-index: 2000;
        right: 4px !important;
        margin-right: 0px !important;
    }

    .rowList {
        display: block;
    }

    .version {
        color: #f3353a;
        font-size: 13px;
    }

    .menuIcons {
        display: none;
    }

    // .dataPreview{
    //     display: none;
    // }

    .statesViewerItem {
        display: flex;
    }

    .changeTimeagoWidth {
        flex: 0 0 130px !important;
    }

    .commanderBgPanel {
        overflow: auto;
    }

    .apiInfoMenu {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .menuSelectable {
        background-image: linear-gradient(#101218, black);
    }

    .searchIcon {
        padding-top: 5px;
    }

    .settingsMenu {
        display: inline;
        font-size: 13px;
    }

    .noDisplay {
        display: none !important;
    }

    .settingsPage {
        margin: 10px 2px 0px 2px !important;
    }

    .settingsDetails {
        color: grey;
    }

    .fullWidth {
        width: 100% !important;
    }

    .floatLeft {
        margin-top: 5px !important;
        float: left !important;
    }

    .alignLeft {
        text-align: left !important;
    }

    .smallButton {
        font-size: 13px;
    }

    .paddingButton {
        margin-top: 14px !important;
        padding: 7px !important;
        padding-bottom: 4px !important;
    }
}

@media(max-width: 400px) {


    .fullWidth {
        width: 100% !important;
    }

    .notificationPanel {
        width: 320px !important;
    }

    .floatLeft {
        margin-top: 5px !important;
        float: left !important;
    }

    .settingsMenu {
        display: inline;
    }

    .searchIcon {
        padding-top: 5px;
    }

    .apiInfo {
        padding-top: 0px;
        margin: 60px 37px 0px !important;
    }

    .apiInfoMenu {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        align-self: center;
    }

    .statesViewerItem {
        display: flex;
    }

    .changeTimeagoWidth {
        flex: 0 0 130px !important;
    }

    .dataPreview {
        display: none;
    }

    .navHeading {
        display: none;
    }

    .mapContainer {
        margin-top: 70px;
        padding-top: 100;
    }

    .version {
        color: #f3353a;
        font-size: 13px;
    }

    .commanderBgPanel {
        overflow: auto;
    }


    .menuTab {
        overflow: hidden;
        background: rgba(3, 4, 5, 0.5);
        color: rgba(255, 246, 235, 0.959);
        padding: 10px 0px 2px 8px !important;
        margin-top: 7px;
        border-top: 1px solid rgba(161, 200, 231, 0.151);
        border-left: 1px solid rgba(97, 115, 129, 0.151);
        border-right: 1px solid rgba(97, 115, 129, 0.151);
        box-sizing: content-box;
        font-weight: 100;
        font-size: 12px;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: none;
        -webkit-box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        box-shadow: 0px -11px 62px -20px rgba(0, 0, 0, 0.25);
        margin-right: 5px;
        transition: all 0.2s;
        user-select: none;
    }

    .borderTopSpot {
        border-top: 1px solid #f3353a;
        background-image: linear-gradient(rgba(243, 53, 58, 0.1), rgba(0, 0, 0, 0));
    }

    .menuSelectable {
        background-image: linear-gradient(#101218, black);
    }

    .navBar {
        position: absolute;
        z-index: 2000;
        right: 4px !important;
        margin-right: 0px !important;
    }

    #navDashboard {
        display: none;
    }

    .bgpanel {
        background: #051422;
        color: rgba(255, 246, 235, 0.959);
        padding: 20px;
        box-sizing: content-box;
        font-weight: 100;
        font-size: 12px;
        box-shadow: 0px 25px 39px 1px rgba(0, 0, 0, 0.35);
        border-radius: 1px;
        border: 1px solid rgba(199, 177, 149, 0.15);
        border-top: none;
        border-right: 1px solid rgba(97, 115, 129, 0.151);
        margin-right: 0px;
    }

    .loginB {
        width: 100%;
        margin-right: 14px;
    }

    .rowList {
        display: block;
    }

    .menuIcons {
        display: none;
    }

    .alignLeft {
        text-align: left !important;
    }

    .smallButton {
        font-size: 13px;
    }

    .paddingButton {
        margin-top: 14px !important;
        padding: 7px !important;
        padding-bottom: 4px !important;
    }
}