$panelBg: rgba(3, 4, 5, 0.5);

.panel {
  background: $panelBg;
  color: rgba(255, 246, 235, 0.959);
  padding: 20px;
  border: 1px solid rgba(60, 19, 25, 0);
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  margin: 20px;
}