// DEFINE COLOURS HERE:
$spotA: rgb(242, 53, 58); //main colour
$spotB: #3b3b3b; // #0a203b; //gradientBot
$spotC: #1a1a1a; // #09111a; //gradientTop
$colbackground: #353535; //background
$spotE: #cccccc;
$spotF: #2b2b2b; // #17232b;
$gray: #888888;
$panelBg: #181818; // rgba(3, 4, 5, 0.5);
$spot: #f3353a;
$borders: #2b2b2b; // rgb(34, 39, 44);
$backgroundPanels: #121212; // rgba(3, 4, 5, 0.5);

@font-face {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Share Tech Mono"), local("ShareTechMono-Regular"), url(/fonts/ShareTechMono-Regular.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
  background: $colbackground;
  overflow-x: hidden;
  color: $spotE;
}

/* NAVBAR 
  ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
*/

.topnav {
  overflow: hidden;
  background-color: $spotC;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 2px solid $spotA;
}

.topnav a.active {
  color: $spotA;
}

.topnav .icon {
  display: none;
}

.topnav a:not(:first-child) {
  float: right;
}

/* BANNER */

.banner__background {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-width: 1920px;
  user-select: none;
  transform: translateX(-50%);
  background: linear-gradient(0deg, $spotB, $spotC);
}
.banner__background > svg {
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  float: left;
}

.banner.banner--shape.banner--homepage {
  margin-bottom: -550px;
}

.banner.banner--shape {
  padding-bottom: 550px;
  margin-bottom: -450px;
}

.banner {
  position: relative;
  z-index: -1000;
  padding: 0 0 120px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.svg-banner-shape {
  fill: $colbackground;
}

/* TEXT STYLE */

h1 {
  font-size: 2.5em;
  line-height: 1.1em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h1,
h2 {
  font-weight: 400;
}

/* INPUT */

select {
  box-sizing: border-box;
  border: 1px solid darken($gray, 30%);
  color: lighten($gray, 65%);
  padding: 9px;
  background: darken($gray, 40%);
  outline: none;
}

select:focus {
  border: 1px solid darken($gray, 20%);
  background: darken($gray, 35%);
}

input {
  box-sizing: border-box;
  border: 1px solid darken($gray, 30%);
  color: lighten($gray, 65%);
  padding: 9px;
  background: darken($gray, 40%);
  outline: none;
}

input:focus {
  border: 1px solid darken($gray, 20%);
  background: darken($gray, 35%);
}

button {
  background: $spotF;
  color: $spotE;
  border: 1px solid darken($spotF, 1%);
  padding: 10px 15px;
  margin: 0;
  opacity: 1;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  text-align: left;
}

button:hover {
  opacity: 0.9;
  background: lighten($spotF, 5%);
}

a {
  text-decoration: none;
  color: darken($spotE, 20%);
}

a:hover {
  color: $spotE;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colbackground;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($spotE, 20%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5555;
}

// DEVICE LIST

.device {
  color: #e1e1e1;
  box-sizing: border-box;
  background: #1b1b1b;

  border-top: 0;
  border-bottom: 0;
  border-right: 2px solid rgba(0, 0, 0, 0);

  opacity: 0.9;
  display: flex;
  width: 100%;
}

.device:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.35));
}

//// DATA VIEW

.dataView {
  background: $panelBg;
  margin: 0;
  font-size: 14px;
  //padding: 7px 7px 7px 15px;
  padding: 1px 1px 1px 10px;
  cursor: grab;
  min-height: 15px;
  border: 1px transparent solid;
  box-sizing: border-box;
  //box-sizing: content-box;
  width: 100%;
  transition: all 0.1s;
  //overflow: hidden;
}

.dataView:hover {
  background: lighten($panelBg, 5%);
  border: 1px lighten($borders, 10%) solid;
}

.dataViewName {
  color: lighten($panelBg, 75%);
  overflow: hidden;
}

.dataView:hover .dataViewName {
  //background: lighten($panelBg, 20%)
  color: lighten($panelBg, 95%);
}

.dataViewValue {
  overflow: hidden;
  padding: 5px;
}

.button {
  cursor: pointer;
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}

.cards {
  position: "relative";
  top: 0px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.27);
  transition: all 0.5s ease;
}

.cards:hover {
  position: "relative";
  top: -10px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.41);
  transition: all 0.1s linear;
}

.dashboardBlock {
  background: $backgroundPanels;
}

/* WIDGETS */
/*
.widgetTitleBar {
  background-color: $panelBg;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  top: 0;
  width: 100%;
}

.widgetGrab {
  background: $panelBg;
  cursor: grab;
  padding: 5px 5px 5px 8px;
  width: 100%;
  text-align: left;
  transition: background-color 0.1s linear;
}

.widgetGrab:hover {
  background-color: lighten($panelBg, 15%);
}

.widgetGrab:active {
  cursor: grabbing;
}

.widgetOptionsButton {
  cursor: pointer;
  opacity: 0.25;
  transition: opacity 0.25s linear;
}

.widgetOptionsButton:hover {
  opacity: 0.75;
}

.menuIcons {
  display: none;
}

.widgetMenu {
  background: rgb(20, 35, 45);
  border: 1px solid rgb(37, 52, 66);
  padding: 2px;
  text-align: left;
}

.widgetMenu select {
  width: 100%;
}

.widgetMenuItem {
  padding: 5px 10px 5px 10px;
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  text-align: left;
}

.widgetMenuItemButton {
  cursor: pointer;
}

.widgetMenuItemButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.widgetContents {
  padding: 5px;
}

////////////////////////////////////

.widget_button {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.1s;
}

.widget_button:hover {
  opacity: 1;
}

.widget_button:active {
  transition: all 0.1s;
  opacity: 0.5;
  color: rgb(122, 112, 106);
}

.linkPointer {
  cursor: pointer;
}

.widget_toggleTrue {
  color: rgb(0, 255, 255);
  transition: all 0.75s;
}

.widget_toggleFalse {
  color: rgb(122, 112, 106);
  transition: all 0.75s;
}
*/

///////////////////// OPTIONS

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
