@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
    font-family: 'Share Tech Mono', monospace;
    background: rgb(27, 57, 77);
    background-image: linear-gradient(rgb(22, 36, 56), rgb(27, 57, 77) );    

    height: 800px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: absolute;

    color: #fff;
  }
  
  .centre {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
  
  .status {
    font-weight: bold;
    font-size: 18px;
    
  }
 
.statusindicator {
    float:right;
}

.online {
    color: rgb(36, 224, 121);
  }


  .offline {
    color: #E02430;
  }
  
  .block {
    margin-top: 40px;
  }
  

.code {
    background: rgba(11, 15, 26, 0.75);
    color: rgba(255,255,255,0.95);
    padding: 10px 12px 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(34, 37, 45);
    position: relative;
    font-weight: bold;
}


.spot {
  color: rgb(243, 53, 58);
}



.spotbright {
  color: rgb(253, 74, 68);
}

a {
  color: rgb(243, 53, 58);
}

a:hover {
  color: rgb(253, 74, 68);
  text-decoration: none;
}

.btn-primary {
  color: #eee;
  background-color: rgb(243, 53, 58);
  border-color: rgb(146, 51, 53);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(253, 74, 68);
  border-color: rgb(173, 53, 55);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
  outline: 0 none;
  border-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(243, 53, 58, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(243, 53, 58, 0.6);
  outline: 0 none;
  border-radius: 0;
}

.big-checkbox {width: 20px; height: 20px; padding-top:10px;}


.fancy {
  text-shadow: 0 2px 0 rgb(146, 51, 53),
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/*
.btn:active:focus,.btn-lg:active:focus,.btn-block:active:focus,.btn-primary:active:focus {
  color: #ffffff !important;
  background-color: rgb(63, 63, 63) !important;
  border-color: rgb(90, 90, 90) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(243, 53, 58, 0.6) !important;
  outline: 0 none;
}
*/

.btn:active {
  color: #ffffff !important;
  background-color: rgb(63, 63, 63) !important;
  border-color: rgb(90, 90, 90) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(243, 53, 58, 0.6) !important;
  outline: 0 none;
}

.btn:focus {
  color: #ffffff !important;
  border-color: rgb(90, 90, 90) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(243, 53, 58, 0.6) !important;
  outline: 0 none;
}


.panelbg {
  
  
  border-radius: 5px; padding:20px;
  background-color: rgb(34, 37, 45);
}

.iotrow {
  border-bottom: 2px solid rgba(219, 219, 219, 0.25);
}




.spotpanel {
 background: rgb(243, 53, 58);
}

h1,h2,h3,h4 {  
  font-weight: bold;
}

.spotpanel p {
  color: rgba(255,255,255,0.85);
}


.whitepanel {
  background: #ddd;
  border-radius: 5px;
  color: rgba(0,0,0,0.5)
}



.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}








.faded {
  opacity: 0.5;
}

.row {
  margin-top: 50;
}

.react-bootstrap-table {
  
  color: rgba(255,255,255,0.95);
  border: none;
}

thead, tbody, tr, td { border: none; border-bottom: none;  border-top: none; }

.table th, .table td {
  border-top: 0;
}

.table td {
  border: 1px solid rgba(200,100,152,0.2);
  padding: 0;
  padding: 2px;
}

th  {
  background: rgba(0,0,0,0.2);
  border: none;
  border-bottom: none;
}

/*
.react-bootstrap-table-editing-cell {
  background:#ff0;
}
*/

.react-bootstrap-table-editing-cell {
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


td.react-bootstrap-table-editing-cell {
 border: none;
 height: none;
}






.commanderDevicePanel {
  background: rgba(16, 18, 24, 0.5);
  color: rgba(255, 246, 235, 0.959);
  padding: 20px 0 20px 5px;
  border: 1px solid rgba(60, 19, 25, 0);
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
}

.commanderDevicePanelClickable:hover {
  color: rgba(243, 53, 58);
  background: rgba(20, 19, 25, 0.9);
  border: 1px solid rgba(60, 19, 25, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.commanderBgPanel {
  background: rgba(3, 4, 5, 0.5);
  color: rgba(255, 246, 235, 0.959);
  padding: 20px;
  border: 1px solid rgba(60, 19, 25, 0);
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
}

.commanderBgPanelClickable:hover {
  color: rgba(243, 53, 58);
  background: rgba(20, 19, 25, 0.9);
  border: 1px solid rgba(60, 19, 25, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.menuTab {
  background: rgba(3, 4, 5, 0.5);
  color: rgba(255, 246, 235, 0.959);
  padding: 15px 20px 10px 20px;
  border-top: 1px solid rgba(161, 200, 231, 0.151);
  border-left: 1px solid rgba(97, 115, 129, 0.151);
  border-right: 1px solid rgba(97, 115, 129, 0.151);
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;

  

 
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  
  border-bottom:none;
  
  -webkit-box-shadow: 0px -11px 62px -20px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -11px 62px -20px rgba(0,0,0,0.25);
  box-shadow: 0px -11px 62px -20px rgba(0,0,0,0.25);
  margin-right:5px;
  transition: all 0.2s;
  user-select: none;
}

.menuTab:hover {
  background: rgba(3, 4, 5, 0.5);   
  cursor: pointer;
}

.menuSelectable {
  background-image: linear-gradient(rgb(16, 18, 24), rgb(0, 0, 0) );   

}

.tabMenuInactive {
  background-image: linear-gradient(rgba(3, 4, 5, 0.5), rgba(3, 4, 5, 0.5) );    
}

.borderTopSpot {
  border-top: 1px solid rgb(243, 53, 58);
  background-image: linear-gradient(rgba(243, 53, 58, 0.1), rgba(0, 0, 0, 0) );   
}


.navLink {
  color: rgba(174, 231, 241, 0.55);
}

.navLink:hover {
  color: rgba(255,255,255,0.85);
  cursor: pointer;
}


.settingsButton {
  color: rgba(255, 246, 235, 0.75);
  padding: 8px 10px 8px 10px;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 2px;
  text-align: right;
}

.settingsButtonInActive:hover {
  color: rgba(255,255,255,0.95);
  background: rgba(255,255,255,0.1);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}

.settingsButtonActive {
  color: rgb(255,255,255);
  background: rgb(243, 53, 58);
  border-radius: 5px;
}

.settingsSelect {
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
}

.tableRowHover {
  transition: all 0.25s;
  
  cursor: pointer;
}
.tableRowHover:hover {
  background: rgba(255,255,255,0.05);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  /*display: inline-block;*/
  width: 30px;
  height: 17px;
  padding:10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
  
}

.smallButton {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 246, 235, 0.959);
  margin: 0px;
  padding: 4px 6px 4px 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  width: auto;
  transition: all 0.25s;
}

.smallButton:hover {
  color: rgba(255, 255, 255, 1.0);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  
}

.headerClickable {
  opacity: 0.75;
  transition: all 0.2s;
  cursor: pointer;
}

.headerClickable:hover {
  opacity: 1.0;
}

.statesViewerItem {
  color: rgb(225, 225, 225);
  box-sizing: border-box;
  background-image: linear-gradient(rgba(3, 4, 5, 0.5), rgba(2, 3, 4, 0.5) );  
  border-left: 0px solid rgb(19, 41, 49, 0);

  border-top: 1px solid rgba(19, 41, 49, 0);
  border-bottom: 1px solid rgba(19, 41, 49, 0);

  opacity: 1;
  margin-left: -8px;
  box-sizing: border-box;
}

.statesViewerItem:hover {



  color: rgb(255, 230, 231);
  opacity: 1.0;
  border-left: 2px solid rgb(255, 39, 32);
  border-top: 1px solid rgba(255, 39, 32, 0.2);
  border-bottom: 1px solid rgba(255, 39, 32, 0.2);
  opacity: 1.0;
  margin-left: -10px;
}


.pagination {
  cursor: pointer;


  background-image: linear-gradient(rgba(3, 4, 5, 0.5), rgba(2, 3, 4, 0.5) );   
  
  color: rgba(255, 246, 235, 0.959);
  margin: 10px 1px 1px 1px;
  padding: 4px 10px 4px 10px;
  border: 1px solid rgba(60, 19, 25, 0.1);
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  float:left;
  transition: all 0.25s;
}

.pagination:hover {
  color: rgba(255, 255, 255, 1.0);
  background-image: linear-gradient(rgba(16, 18, 24, 0.5), rgba(16, 18, 24, 0.5) );   
 
  box-sizing: border-box;
  cursor: pointer;
}

.paginationActive {
  border-top: 1px solid rgb(243, 53, 58);
}




input {
  color: rgba(255,255,255,0.5);
  background: rgba(3, 4, 5, 0.5);
  
  max-width: 100%;
  
  padding: 8px 15px 8px 15px ;

  border: 1px solid rgba(19, 41, 49, 0);
  
}

input:focus {
  color: rgba(255,255,255,1.0);
  border: 1px solid rgba(255, 39, 32, 0.5);
  outline: none;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 36, 36); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 85, 85); 
}








.btn-spot {
  color: #eee;
  background-color: rgb(255, 36, 36);
  border: 1px solid rgba(255, 137, 141,0.35);
  padding: 10px 13px 6px 13px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(253, 74, 68,0.25);
  transition: all 0.25s;
  font-weight: bold;
  text-transform: uppercase;

}

.btn-spot:hover {
  color: #fff;
  background-color: rgb(243, 53, 58);
  box-shadow: 0px 0px 20px 0px rgba(253, 74, 68,0.85);
  
}

.bgpanel {
  background: rgb(5, 20, 34);
  color: rgba(255, 246, 235, 0.959);
  padding: 20px;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  box-shadow: 0px 25px 39px 1px rgba(0,0,0,0.35);
  border-radius: 1px;
  border: 1px solid rgba(199, 177, 149, 0.15);
  border-top: none;
  border-right: 1px solid rgba(97, 115, 129, 0.151);
  margin-right: 5px;
}





.smallIconClickable {
  cursor: pointer;
  color: rgba(255, 255, 255,0.5);
  transition: all 0.25s;
}

.smallIconClickable:hover {
  color: rgb(255, 255, 255,0.9); 
}

.serverError {
  color: rgb(243, 53, 58);
}